automation/booking_notification_workflow_v2.json
{
  "name": "더라운드 실시간 강연 신청 및 문의 알림 에이전트 (Telegram)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "theround-notifications",
        "options": {}
      },
      "id": "Webhook Trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "event_type",
              "value": "={{$json.body.event}}"
            },
            {
              "name": "name",
              "value": "={{$json.body.clientName || $json.body.name || '알수없음'}}"
            },
            {
              "name": "email",
              "value": "={{$json.body.clientEmail || $json.body.email || '알수없음'}}"
            },
            {
              "name": "phone",
              "value": "={{$json.body.clientPhone || '알수없음'}}"
            },
            {
              "name": "designer",
              "value": "={{$json.body.designerName || '선택하지 않음'}}"
            },
            {
              "name": "topic",
              "value": "={{$json.body.topic || $json.body.subject || '없음'}}"
            },
            {
              "name": "details",
              "value": "={{$json.body.details || $json.body.message || '내용 없음'}}"
            },
            {
              "name": "date",
              "value": "={{$json.body.date || '없음'}}"
            }
          ]
        },
        "options": {}
      },
      "id": "Format Request Data",
      "name": "Format Request Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.event_type}}",
              "value2": "lecture_booking"
            }
          ]
        }
      },
      "id": "Switch Event Type",
      "name": "Switch Event Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "sendTo": "gotwha123@gmail.com",
        "subject": "=📢 [더라운드] 실시간 강연/상담 신청서가 접수되었습니다!",
        "emailType": "html",
        "messageHtml": "=<h3>📢 더라운드 강연 신청서 접수 알림</h3>\n<hr />\n<p><strong>신청자 이름:</strong> {{$json.name}}</p>\n<p><strong>이메일:</strong> {{$json.email}}</p>\n<p><strong>연락처:</strong> {{$json.phone}}</p>\n<p><strong>희망 디자이너:</strong> {{$json.designer}}</p>\n<p><strong>신청 주제:</strong> {{$json.topic}}</p>\n<p><strong>희망 일자:</strong> {{$json.date}}</p>\n<p><strong>상세 요청사항:</strong></p>\n<blockquote style=\"background: #f9f9f9; border-left: 5px solid #ccc; padding: 10px;\">\n  {{$json.details}}\n</blockquote>\n<hr />\n<p>Airtable 클라우드 데이터베이스에 자동으로 저장되었으며, 자세한 정보는 대시보드에서 확인해 주세요.</p>"
      },
      "id": "Send Booking Email",
      "name": "Send Booking Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        950,
        200
      ]
    },
    {
      "parameters": {
        "sendTo": "gotwha123@gmail.com",
        "subject": "=✉️ [더라운드] 홈페이지 1:1 문의글이 등록되었습니다.",
        "emailType": "html",
        "messageHtml": "=<h3>✉️ 더라운드 1:1 문의 접수 알림</h3>\n<hr />\n<p><strong>작성자 이름:</strong> {{$json.name}}</p>\n<p><strong>이메일:</strong> {{$json.email}}</p>\n<p><strong>문의 제목:</strong> {{$json.topic}}</p>\n<p><strong>문의 내용:</strong></p>\n<blockquote style=\"background: #f9f9f9; border-left: 5px solid #ccc; padding: 10px;\">\n  {{$json.details}}\n</blockquote>\n<hr />\n<p>Airtable의 InquiryRequests 테이블에 실시간 저장 완료되었습니다.</p>"
      },
      "id": "Send Inquiry Email",
      "name": "Send Inquiry Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        950,
        400
      ]
    },
    {
      "parameters": {
        "chatId": "8025489945",
        "text": "=📢 *[더라운드] 새로운 신청 도착*\n\n👤 *성함:* {{$json.name}}\n📧 *이메일:* {{$json.email}}\n📞 *연락처:* {{$json.phone}}\n🎨 *디자이너:* {{$json.designer}}\n📚 *주제:* {{$json.topic}}\n📅 *희망일:* {{$json.date}}\n\n📝 *내용:* \n{{$json.details}}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "Telegram Notification",
      "name": "Telegram Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1200,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credential-id"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Format Request Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Request Data": {
      "main": [
        [
          {
            "node": "Switch Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Event Type": {
      "main": [
        [
          {
            "node": "Send Booking Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Inquiry Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "1"
}
