automation/news_ai_crawler_workflow.json
{
  "name": "더라운드 탈북민 정착 뉴스 AI 자동 수집 및 요약 업로더",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-node",
      "name": "When Clicked",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        100
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "schedule-trigger-node",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://www.nkrf.or.kr/main/rss.do",
        "options": {}
      },
      "id": "fetch-hana-foundation-rss",
      "name": "Fetch Hana Foundation News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        420,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://www.korea.kr/rss/dept_unikorea.xml",
        "options": {}
      },
      "id": "fetch-unikorea-rss",
      "name": "Fetch Ministry of Unification News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        420,
        150
      ]
    },
    {
      "parameters": {
        "url": "https://www.korea.kr/rss/local.xml",
        "options": {}
      },
      "id": "fetch-local-gov-rss",
      "name": "Fetch Local Gov News (8 Cities)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://apply.lh.or.kr/rss/rss.do?boardId=62",
        "options": {}
      },
      "id": "fetch-lh-housing-rss",
      "name": "Fetch LH Housing News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        420,
        450
      ]
    },
    {
      "parameters": {
        "url": "https://www.korea.kr/rss/policy.xml?deptId=1492000",
        "options": {}
      },
      "id": "fetch-employment-rss",
      "name": "Fetch Employment & Job News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        420,
        600
      ]
    },
    {
      "parameters": {
        "operation": "list",
        "base": "appG3mE1NuXLHp4tp",
        "table": "SettlementNews",
        "additionalFields": {
          "filterByFormula": "=url = '{{$json.link}}'"
        }
      },
      "id": "check-duplicate-node",
      "name": "Check for Duplicates",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        700,
        300
      ],
      "credentials": {
        "airtableApi": {
          "id": "2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.length === 0}}",
              "value2": true
            }
          ]
        }
      },
      "id": "is-new-content-node",
      "name": "Is New Content?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        920,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "custom",
        "text": "=아래의 뉴스 콘텐츠를 읽고, 탈북민(북한이탈주민) 세대 전체(가족, 자녀, 청년, 중장년, 노년 등)에게 실질적인 정착 혜택이나 복지 지원, 일자리 지원, 의료 혜택, 교육 지원 등의 정보가 포함되어 있는지 확인해 주세요.\n\n뉴스 제목: {{$json.title}}\n뉴스 내용 요약: {{$json.description || $json.content}}\n\n만약 관련성이 높다면, 다음 형식의 JSON 객체로 결과를 반환해 주세요. 관련이 없는 일반 뉴스나 동향 기사라면 빈 JSON 객체 `{}`를 반환해 주세요.\n\n반환 형식:\n{\n  \"relevant\": true,\n  \"category\": \"welfare\" | \"education\" | \"jobs\" | \"health\", (복지/주거는 welfare, 교육/장학금은 education, 취업/훈련은 jobs, 의료/법률은 health)\n  \"badge\": \"예: 🎁 무료 치과 혜택 / 🎓 장학금 300만원\",\n  \"title\": \"가독성을 위해 요약 정리한 뉴스 제목 (30자 이내)\",\n  \"excerpt\": \"이탈주민에게 실질적으로 도움을 주는 혜택 내용을 요약한 3줄 요약 문장. 딱딱한 말투보다는 '~해 드려요', '~받으실 수 있어요'와 같이 친절하고 정중한 어조를 사용하세요. (약 120자 내외)\",\n  \"tag\": \"예: 전액 무료 / 선착순 마감\"\n}",
        "options": {
          "systemMessage": "당신은 비영리 단체 '더라운드'의 유능하고 따뜻한 AI 어시스턴트(TheRound Helper)입니다. 한국의 복지 정보 공문을 정착민들이 이해하기 쉽도록 명료하게 변환하는 역할과 동시에, 정착민들의 삶을 진심으로 응원하는 마음을 담아 정보를 필터링합니다. 오직 신뢰할 수 있는 공공기관, 단체에서 발표한 실질적인 혜택 정보만 'relevant: true'로 요약해 주되, 문장은 항상 다정하고 정중하게 작성해야 합니다."
        }
      },
      "id": "openai-ai-summarizer",
      "name": "AI Summarizer Node",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1140,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "1"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.relevant}}",
              "value2": true
            }
          ]
        }
      },
      "id": "filter-relevant-node",
      "name": "Filter Relevant News",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1360,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$json.link}}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          },
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text",
              "fullResponse": true
            }
          }
        }
      },
      "id": "verify-url-node",
      "name": "Verify URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1580,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.statusCode}}",
              "operation": "equal",
              "value2": 200
            }
          ]
        }
      },
      "id": "is-url-active-node",
      "name": "Is URL Active?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1800,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "base": "appG3mE1NuXLHp4tp",
        "table": "SettlementNews",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "category",
              "fieldValue": "={{$node[\"AI Summarizer Node\"].json.category}}"
            },
            {
              "fieldId": "badge",
              "fieldValue": "={{$node[\"AI Summarizer Node\"].json.badge}}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{$node[\"AI Summarizer Node\"].json.title}}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{new Date().toISOString().split('T')[0]}}"
            },
            {
              "fieldId": "excerpt",
              "fieldValue": "={{$node[\"AI Summarizer Node\"].json.excerpt}}"
            },
            {
              "fieldId": "tag",
              "fieldValue": "={{$node[\"AI Summarizer Node\"].json.tag}}"
            },
            {
              "fieldId": "url",
              "fieldValue": "={{$json.link}}"
            }
          ]
        },
        "options": {}
      },
      "id": "insert-airtable-node",
      "name": "Insert into Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        2020,
        300
      ],
      "credentials": {
        "airtableApi": {
          "id": "2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "custom",
        "text": "=아래의 요약된 복지/혜택 정보를 바탕으로, 더라운드 SNS 채널에 게시할 따뜻하고 희망찬 홍보 문구를 작성해 주세요. \n\n카테고리: {{$node[\"AI Summarizer Node\"].json.category}}\n배지: {{$node[\"AI Summarizer Node\"].json.badge}}\n제목: {{$node[\"AI Summarizer Node\"].json.title}}\n혜택 요약: {{$node[\"AI Summarizer Node\"].json.excerpt}}\n태그: {{$node[\"AI Summarizer Node\"].json.tag}}\n원문 링크: {{$json.link}}\n\n[작성 가이드라인]:\n1. 도입부에서 \"함께 걷는 이웃, 더라운드입니다! 😊\"와 같이 따뜻한 인사를 건네며 시작하세요.\n2. \"새로운 시작을 응원하는 마음을 담아 오늘의 유익한 소식을 가져왔어요.\"와 같은 응원의 메시지를 포함하세요.\n3. 핵심 혜택과 신청 방법을 이모지를 적극 활용하여 가독성 있게 정리해 주세요.\n4. 어조는 매우 친근하면서도 격식 있는 '해요체'를 사용하세요.\n5. 마지막에 #더라운드 #함께하는성장 #정착지원 과 함께 해당 소식에 맞는 해시태그를 추가해 주세요.\n\n출력은 오직 SNS 피드에 즉시 게시할 수 있는 텍스트만 반환해 주세요.",
        "options": {
          "systemMessage": "당신은 비영리 단체 '더라운드'의 SNS 채널을 운영하는 '공감과 나눔의 에이전트'입니다. 단순한 정보 전달을 넘어 정착민들에게 위로와 힘이 되는 따뜻한 글쓰기를 지향합니다. 당신의 글은 읽는 이에게 '우리는 혼자가 아니구나'라는 느낌을 주어야 합니다."
        }
      },
      "id": "openai-sns-creator",
      "name": "Create SNS Message",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        2240,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "1"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8025489945",
        "text": "=📢 *[더라운드 실시간 정착뉴스 알림]* 📢\n\n{{$json.text}}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-sns-broadcast",
      "name": "Telegram SNS Broadcast",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        2460,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credential-id"
        }
      }
    }
  ],
  "connections": {
    "When Clicked": {
      "main": [
        [
          {
            "node": "Fetch Hana Foundation News",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Ministry of Unification News",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Local Gov News (8 Cities)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch LH Housing News",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Employment & Job News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Hana Foundation News",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Ministry of Unification News",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Local Gov News (8 Cities)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch LH Housing News",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Employment & Job News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Hana Foundation News": {
      "main": [
        [
          {
            "node": "Check for Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Ministry of Unification News": {
      "main": [
        [
          {
            "node": "Check for Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Local Gov News (8 Cities)": {
      "main": [
        [
          {
            "node": "Check for Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch LH Housing News": {
      "main": [
        [
          {
            "node": "Check for Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Employment & Job News": {
      "main": [
        [
          {
            "node": "Check for Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Duplicates": {
      "main": [
        [
          {
            "node": "Is New Content?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Content?": {
      "main": [
        [
          {
            "node": "AI Summarizer Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Summarizer Node": {
      "main": [
        [
          {
            "node": "Filter Relevant News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Relevant News": {
      "main": [
        [
          {
            "node": "Verify URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify URL": {
      "main": [
        [
          {
            "node": "Is URL Active?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is URL Active?": {
      "main": [
        [
          {
            "node": "Insert into Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Airtable": {
      "main": [
        [
          {
            "node": "Create SNS Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create SNS Message": {
      "main": [
        [
          {
            "node": "Telegram SNS Broadcast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "2"
}